<br><br><br><div class="container-fluid">
  <div class="row">
    <div class="col-md-3 offset-1">
      <h3 class="text-info">Have you explored OneCause Scoreboard slide offerings and want something a little more customized for your event?</h3>
    </div>
    <div class="col-md-6 offset-1">
      <p class="lead">Advanced Customization scoreboards include design consultation, graphic design work, and a finished product that will match the theme of your event.  
      Our most common requests are to help make the donation appeal extra special, but we can also help you highlight multiple donation packages, 
      dance competitions, or boxing matches.  If you have a special idea for your event, let's talk about how we can help you highlight it!
      </p>
    </div>

</div>
</div>
<% if @scoreboards.count == 0 %>
    <h3>There are no scoreboards in this category.</h3>
<% else %>
    <div class="grid">
        <%  @scoreboards.each do |scoreboard| %>
            <div class="sbcell">
                <a href="/scoreboards/ <%= scoreboard.id %>">
                    <%= image_tag 'http://via.placeholder.com/1920x1080', class: "scoreboard hvr-wobble hvr-shadow sbimage"
                        %>
                </a>
            </div>
        <% end %>
       
    </div>
<% end %>

