<br><br><br>
<div class="container">
    <div class="form-group-row">
      <div class="row text">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">New Scoreboard</h1>
            <%= render 'form' %>
        </div>
      </div>
    </div>
</div>

