<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" ></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("faw-bg.jpg", :alt => "home image") %>
      <div class="carousel-caption">
        <h1 class="animated slideInLeft">Professional Services</h1>
        <br>
        <button type="button" class="btn btn-secondary">Learn More!</button>
      </div>
    </div>
  </div>
</div>
<div class="container"><br>
  <h3 class="text-muted">Searching for an online experience to WOW your audience? Our Professional Services team is here to help!</h3>
</div>
<br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		  <div class="text-center">
			<%=  fa_icon "line-chart big-icon align-center" %>
			</div>
			
			<h3 class="text-center">Custom Scoreboards</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div>
		<div class="col-md-4">
					  <div class="text-center">
			<%=  fa_icon "laptop big-icon align-center" %>
			</div>
			<h3 class="text-center">Custom Giving Centers</h3>
			<p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
		</div>
		<div class="col-md-4">
					  <div class="text-center">
			<%=  fa_icon "line-chart big-icon align-center" %>
			</div>
			<h3 class="text-center">Custom Reporting and Analytics</h3>
			<p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div>
	</div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    

